body {
  padding: 25px;
}

div.ejercicio {
  margin: 25px;
  padding: 10px;
  border: 2px dotted gray;
}

div.ejercicio .botones {
  padding: 10px;
}

div.circulo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: lightgray;
  margin: 5px;
}

div.circulo.naranja {
  background-color: orange;
}

div.circulo.rojo {
  background-color: red !important;
}

span.celda {
  margin: 5px 10px;
}

input#contador {
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

ul.pagination {
  cursor: pointer;
  -webkit-user-select: none;
}
