body {
  padding: 25px;
}

div.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: palevioletred;
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 25px 10px;
}

div.caja {
  width: 250px;
  height: 300px;
  background-color: darksalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div#resultado2 {
  margin: 10px;
}
